<!DOCTYPE html>
<html lang="en" ng-app="Blacklist">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="app/js/angular.min.js"></script>
    <script type="text/javascript" src="app/addToBlacklist.js"></script>

</head>
<body>
<div id="main_container">
    <header class="header">
        <h1>Blacklist</h1>
        <nav class="nav_bar">
            <ul>
                <li><a class="tabs" href="index.html"><img src="images/email_icone.png"/>Email</a></li>
                <li><a class="tabs" href="bank_account.html"><img src="images/bank_account_icone.png"/>Bank account</a></li>
                <li><a class="tabs" href="card.html"><img src="images/card_icone.png"/>Card</a></li>
            </ul>
        </nav>
    </header>

    <main ng-controller="blacklistCtrl">
        <form class="form">
            <p class="input_title">Card number:</p>
            <p>
                <input ng-model="newItem.card" class="form_input" name="card" pattern="[0-9]{14}" autocomplete="off"  placeholder="42000000000000" />
            </p>
            <div class="card">
                <p class="input_title">Card type</p>
                <ul>
                    <li><input class="visa_image" ng-click="addCardType(newItem.cardType)" ng-model="newItem.type" value="Visa" type="image" src="images/visa.png"></li>
                    <li><input class="master_image" ng-click="addCard(newItem.cardType)" ng-model="newItem.type" value="MasterCard"
                               type="image" src="images/mastercard.png"></li>
                    <li><input class="american_image" ng-click="addCard(newItem.card)" ng-model="newItem.type" value="American Express"
                               type="image" src="images/American_Express.png"></li>
                </ul>
            </div>
            <button ng-click="addCard(newItem.card)" class="addButton">Add to blacklist</button>
        </form>

        <table ng-hide="tableEmpty">
            <p class="typeDataMessage" ng-show="typeDataMessage">Please type the correcet e-mail address</p>
            <tr>
                <th class="value">Value</th>
                <th>Blacklisted on</th>
                <th>Type</th>
            </tr>
            <tr ng-repeat="item in blacklist">
                <td>{{item.email}}</td>
                <td>{{item.type}}</td>
                <td>{{item.date | date:'dd-MM-yyyy'}}</td>
                <td id="buttonCell"><button class="remove" ng-click="removeItem(item)">Remove</button> </td>
            </tr>
        </table>
    </main>
</div>
</body>
</html>