$font: Source sans pro light, sans-serif;
$primary-color: rgb(52, 152, 219);

@mixin filter_grayscale($grayscale) {
  -webkit-filter: grayscale($grayscale);
  -moz-filter: grayscale($grayscale);
  -o-filter: grayscale($grayscale);
  -ms-filter: grayscale($grayscale);
  filter: grayscale($grayscale);
}

@mixin filter_invert($invert) {
  -webkit-filter: invert($invert);
  -moz-filter: invert($invert);
  -o-filter: invert($invert);
  -ms-filter: invert($invert);
  filter: invert($invert);
}


body {
  background-image: url('../images/background.png');
}

#main_container {
  margin: auto;
  width: 80%;
  background-color: white;
  margin-top: 60px;
}

.header {

  border-bottom: solid 6px $primary-color;
  font-family: $font;

  h1 {
    padding-top: 59px;
    padding-bottom: 51px;
    font-size: 48px;
    text-align: center;
  }

  nav {
    margin-left: 30px;

    li {
      display: inline-block;
      font-size: 17px;
    }

    img {
      padding-right: 10px;
    }

    .tabs {
      display: inline-block;
      padding: 18px 29px 18px 29px;
      text-decoration: none;
      color: black;
    }

    .tabs:hover{
      background-color: $primary-color;
      color: white;
      img {
        @include filter_invert(100%);
      }
    }

    .tabs:active {
      background-color: $primary-color;
      color: white;
      img {
        @include filter_invert(100%);
      }
    }
  }
}

main {

  padding-bottom: 50px;

  .form {
    font-family: $font;
    margin-left: 30px;

    .input_title {
      padding-top: 30px;
      margin-bottom: 3px;
      font-size: 16px;
    }

    .form_input {
      padding: 0 0 0 20px;
      font-family: $font;
      font-style: italic;
      border: 1px solid rgb(189, 195, 199);
      border-radius: 2px;
      color: #888;
      height: 43px;
      width: 35%;
      font-size: 19px;
      margin-right: 10px;
    }

    .addButton {
      font-family: "Source Sans Pro", sans-serif;
      height: 45px;
      border-radius: 2px;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: white;
      text-align: center;
      font-size: 19px;
      padding: 0;
      border-image: none;
      width: 150px;
    }
  }

  table {
    margin: 100px 0 0 30px;
    width: 90%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19px;

    tr:nth-child(odd) {
      background-color: rgb(250, 250, 250);
    }

    #buttonCell {
      border: none;
      background-color: white;
    }

    th, td {
      border-bottom: 1px solid rgb(236, 240, 241);
      height: 45px;
      vertical-align: middle;
      padding-left: 30px;
    }

    th {
      border-top: 1px solid rgb(236, 240, 241);
      text-align: left;
      background-color: rgb(204, 229, 246);
      font-weight: bold;
    }

  }

.typeDataMessage {
  margin-left: 30px;
  padding-top: 59px;
  font-family: $font;
  font-size: 19px;
}
  .value {
    width: 40%;
  }

  .remove{
    margin-left: 45px;
    width: 80px;
    height: 28px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    background-color: rgb(192, 57, 43);
    border-radius: 2px;
    border: none;
  }

  input[type='radio'] {
    -webkit-appearance:none;
    width:12px;
    height:12px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    margin-right: 10px;
  }


  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
  }

  input[type='radio']:checked:before {
    background:$primary-color;
  }

.radio {
  margin-bottom: 30px;
}

  hr{
    height: 1px;
    border: 0;
    color: rgb(189, 195, 199);
    background-color: rgb(236, 240, 241);
    margin: 50px 30px 0 30px;
  }

  .card{
    margin-bottom: 30px;
    li {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      height:90px;
      width: 90px;
      border: solid 1px rgb(236, 240, 241);
      @include filter_grayscale(100%);
    }


    .visa_image, .master_image, .american_image{
      text-align:center;
      position:absolute;
      display: block;
      margin-top: 50%;
      margin-right: 50%;
      right: -35px;
      top: -15px;
    }

    .master_image{
      top: -20px;
    }

    li:hover {
        display: inline-block;
        @include filter_grayscale(0%);
      }
    li:active {
      display: inline-block;
      @include filter_grayscale(0%);
    }
  }
}

@media
only screen and (max-width: 560px) {

  .tabs {
      color: #c0392b;
  }
//
//  /* Force table to not be like tables anymore */
//  table, thead, tbody, th, td, tr {
//    display: block;
//  }
//
//  /* Hide table headers (but not display: none;, for accessibility) */
// th {
//    position: absolute;
//    top: -9999px;
//    left: -9999px;
//  }
//
//  td {
//    position: relative;
//    padding-left: 50%;
//  }
//
//  td:before {
//    position: absolute;
//    top: 6px;
//    left: 50px;
//    width: 45%;
//    padding-right: 10px;
//    white-space: nowrap;
//  }
//
//  td:nth-of-type(1):before { content: "First Name"; }
//  td:nth-of-type(2):before { content: "Last Name"; }
//
}